.cardRole {
  width: 312px;
  
  padding: 42px 24px 0 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 12px;
  border: 2px solid var(--g, #ffa015);

  background: #fff;

  box-shadow: 0px 4px 12px 0px rgba(16, 3, 51, 0.4);
}

.custom-list {
    width: 264px;
    /* height: 421px; */
    color: var(--material-theme-ref-neutral-variant-neutral-variant5, #111112);
    text-align: right;
    font-family: "1Lionsys Reqa";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    direction: rtl; /* لضبط اتجاه النص إلى اليمين */
  }
  
  .custom-list ul {
    list-style-position: inside; /* لضبط مكان النقاط داخل القائمة */
    padding-right: 1em; /* لضبط المسافة من اليمين */
    color: #111112;
    list-style-type: disc;
  }
  
  .custom-list ul li {
    margin-bottom: 5px; /* لضبط المسافة بين العناصر */
  }
  